* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ******modo nocturno****** */
:root {
  --bg-fondo-sidebar: #ffffff;
  --bg-fondo-App: #dcd7d7;
  --bg-fondo-card: white;
  --bg-fondo-card-statict: white;

  --txt-texto-sidebar: gray;
  --txt-texto-App: gray;
  --txt-texto-header: gray;
  --txt-modal: white;
  --txt-statict: black;

  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --text-black-50: #242424;
}

.dark-mode {
  --bg-fondo-sidebar: rgb(8, 5, 39);
  --bg-fondo-card: rgb(221, 215, 215);
  --bg-fondo-App: rgba(0, 0, 0, 0.836);
  --bg-fondo-card-statict: rgb(8, 16, 59);

  --txt-texto-sidebar: white;
  --txt-texto-App: white;
  --txt-texto-header: white;
  --txt-modal: rgba(19, 18, 18, 0.479);
  --txt-statict: white;

  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --text-black-50: #242424;
}

body,
.App {
  margin: 0;
  padding: 0;
  background: var(--bg-fondo-App);
}

/* **************************Sidebar**************************** */
.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  text-align: justify;
  background: var(--bg-fondo-sidebar);
  overflow: hidden;
}
.sidebar-logo {
  width: 100%;
  margin: 0 auto;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  list-style: none;
  font-size: 16px;
  margin-top: 40px;
}

.sidebar-list-item {
  display: block;
  width: 110px;
  height: 25px;
}

.sidebar-list a {
  color: var(--txt-texto-sidebar);
}

i {
  font-size: 16px;
  margin-right: 10px;
}

/* *********   Header   ********* */
.container-ordenList h3 {
  color: var(--txt-texto-header);
}
.bx-bell {
  color: var(--txt-texto-header);
}

/* *************************** container-padre **************************** */
.container-padre {
  display: flex;
  height: 100%;
}

/* ********************** seccion perfil ********************* */
.container-perfil-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 15px;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 200px;
  gap: 20px;
  padding: 2rem 0;
}

.img-perfil {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}
.perfil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 300px;
}
.peril-input {
  height: 80px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 200px;
  margin-left: 100px;
}

.bx-search {
  margin-top: 0.1rem;
  color: gray;
}

.peril-input input {
  position: relative;
  height: 30px;
  width: 230px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f5efef;
  color: white;
}
h3 {
  text-align: center;
}

.peril-input i {
  position: absolute;
  z-index: 1;
  padding: 12px;
}

.perfil-avatar {
  /* border: 1px solid #000; */
  height: 60px;
  margin-top: 1rem;
  margin-right: 100px;
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-evenly;
}
.container-ordenList {
  height: 70px;
  margin-left: 300px;
  color: var(--text-black-900);
  /* border: 1px solid #0eb824; */
}
.button-orden {
  /* border: 1px solid #bada0a; */
  display: flex;
  justify-items: center;
  justify-content: center;
  height: 40px;
  gap: 4px;
}
button {
  width: 30px;
  padding: 2px;
  border-radius: 5px;
  border: none;
  background: var(--text-black-50);
  color: var(--bg-black-900);
}
button i {
  width: 100%;
  padding: 0;
}
a {
  display: block;
  align-items: center;
  text-decoration: none;
  color: var(--text-black-900);
  font-weight: 500;
}
/* ********************CARDS******************* */
.contenedor-ordenes-avatar {
  /* border: 2px solid #bf04ee; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px 10px 12px;
  font-weight: 500;
  color: var(--text-black-900);
}

hr {
  width: 90%;
  margin: 0 auto;
  border-color: var(--bg-black-100);
}

.avatar-cards {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.img-src {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  background: lightseagreen;
}

.img-src-price {
  text-align: center;
  color: var(--text-black-900);
}

.cards {
  /* border: 1px solid #000; */
  width: 200px;
  height: 250px;
  background: var(--bg-fondo-card);
  border-radius: 10px;
}
.contenedor-img-src {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #000000b9;
  /* border: 1px solid #000; */
  height: 150px;
}
.contenedor-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
}

.contenedor-icons span {
  color: var(--text-black-900);
}

/* icons */
.bx-x {
  color: rgba(255, 0, 0, 0.63);
  border: 1px solid;
  border-radius: 5px;
  font-size: 28px;
}
.bx-x:hover {
  color: white;
  background: red;
  cursor: pointer;
}
.bx-check {
  border: 1px solid;
  border-radius: 5px;
  font-size: 28px;
}
.bx-check:hover {
  color: white;
  background: #0b6417f3;
  cursor: pointer;
}
.bx-tada {
  animation: tada 1.5s ease both;
  
}
.bx-cart{color: white;}
.bx-tada:hover {
  animation: tada 1.5s ease infinite;
}
/* ******************modal**************** */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--txt-modal);
  width: 400px;
  padding: 20px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: var(--txt-modal);
}
input {
  height: 35px;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px dashed rgb(12, 160, 170);
  text-align: center;
  background-color: var(--txt-modal);
}
input:focus {
  border: 1px dashed rgb(9, 67, 71);
}
textarea {
  margin-top: 0.5rem;
  border: 1px solid rgb(12, 160, 170);
  color: gray;
  text-align: center;
  background-color: var(--txt-modal);
}
.btn-enviar {
  width: 100%;
}
.btn-enviar:hover {
  background: rgb(12, 160, 170);
}
