body{
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;  
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));  
}
.sidebar{
  background-color: lightgreen;
}

.content{
  background-color: lightsalmon;
  grid-column: span 5;
}