*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(220, 215, 215);
}



.sidebar{
border: 1px solid #000;
width: 300px;
text-align: justify;
background: white;
overflow: hidden;
}

  .sidebar h1{
    margin: 60px 0;
    text-align: center;
  }


.sidebar-list{
  display: flex;
  flex-direction: column;
  height: 77vh;      
  gap: 35px;
  list-style: none;
  font-size: 18px; 
  padding: 1rem;
  margin-bottom: 100%;
}

i{
  font-size: 20px;
  margin-right: 10px;    
}

/* ***************************container-padre**************************** */
.container-padre{
  display: flex;
border: 1px solid #9e0e0e;
}


/* ********************** seccion perfil ********************* */
.container-perfil-card{
 border: 1px solid #000000;
 width: 100% ;
 overflow: hidden;
}


.container-cards{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 3px;
padding: 2rem 0 ;

}

.img-perfil{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.perfil{
display: flex;
flex-direction: row;
justify-content: space-between;
border: 1px solid #5522b3d7;
}
.peril-input{border: 1px solid #000;
height: 60px;
margin-top: 1rem;
display: flex;
align-items: center;
width: 200px;}

.perfil-avatar{border: 1px solid #000;
height: 60px;
margin-top: 1rem;
display: flex;
align-items: center;
width: 150px;
justify-content: space-evenly;
}
.container-ordenList{
  height: 70px;
  border: 1px solid #0eb824;
}
.button-orden{
  border: 1px solid #bada0a;
  display: flex;
  justify-items: center;
  justify-content: center;
  height: 40px;
  gap: 4px;
}
button{
  width:70px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(rgba(0, 128, 0, 0.664),rgba(255, 0, 0, 0.11),rgba(0, 0, 255, 0.438));
}
a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.863);
  font-weight: 500;
}
/* ********************CARDS******************* */
.contenedor-ordenes-avatar{
  border: 2px solid #bf04ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  font-weight: 500;
}
.avatar-cards{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.img-src{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.cards{border: 1px solid #000;
width: 250px;
height: 330px;
background: white;
}
.contenedor-img-src{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  color: #0b6417b9;
  border: 1px solid #000;
  height: 220px;
}
.contenedor-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #93cc0f;
  height: 70px;
  font-size: 17px;
  font-weight: 600;
  color: #0b6417b9;
}

/* icons */
.bx-x{
  color: rgba(255, 0, 0, 0.63);
  border: 1px solid ;
}
.bx-x:hover{
  color: white;
 background: red;
cursor: pointer;
}
.bx-check{ border: 1px solid ;}
.bx-check:hover{ 
  color: white;
  background:#0b6417f3;
  cursor: pointer;
}