.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
overflow: hidden;
border: 1px solid #000;
}
.statistics-container-inside {
  width: 100%;
  height: 100vh;
  margin-left: 200px;

 
}

/* ==================== Cards ==================== */
.cards-stats {
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.statistics-cards {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
  background: var(--bg-fondo-card-statict);
  width: 220px;
  height: 140px;
  padding: 10px 12px 10px 12px;
  font-weight: 500;
  border-radius: 8px;
  color: var(--txt-statict);
  border: 1px solid white;
}

.statistics-cards p {
  height: 40px;
}

/* ==================== Contenedor Graficos ==================== */

.stats-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 20%;
  
}

/* ==================== Cards circulo grafico ==================== */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 170px;
  background: var(--bg-fondo-card-statict);
  border-radius: 10px;
  border: 1px solid white;
}

.circle-chart {
  max-width: 70%;
  max-height: 70%;
}

.circle-chart-circle {
  fill: none;
  stroke: #661af3;
  stroke-width: 10;
  stroke-dasharray: 0, 100;
  stroke-linecap: round;
  animation: progress 2s ease-out forwards;
}

.circle-chart-background {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 10;
}

.circle-chart-text {
  font-size: 20px;
  fill: #661af3;
  text-anchor: middle;
  alignment-baseline: middle;
}

@keyframes progress {
  from {
    stroke-dasharray: 0, 280;
    stroke-dashoffset: 280;
  }
  to {
    stroke-dasharray: 198, 280;
    stroke-dashoffset: 0;
  }
}
/* ==================== Cards Grafico Barra ==================== */
.grafico-barra {
  background-color: var(--bg-fondo-card-statict);
  width: 370px;
  height: 170px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid white;
}
.barra img {
  width: 300px;
  height: 170px;
}

.statistics-cards span {
  text-align: center;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.bx-like {
  margin-left: 6px;
  margin-top: 7px;
}
.bxs-star {
  margin-left: 6px;
  margin-top: 3px;
}

/* ==================== Contenedor ultimas ordenes ==================== */

.container-last-order {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.last-order {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  height: auto;
  gap: 10px;
  padding: 20px;
  background: var(--bg-fondo-card-statict);
  border-radius: 10px;
  color: var(--txt-statict);
  
}

.orden-content {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 35px;
  list-style: none;
  font-size: 15px;
 
}
.orden-content span {
  display: block;
  width: 90px;
  text-align: center;
  padding: 7px;
  background-color: var(--bg-verde-span);
  border-radius: 5px;
font-weight: 600;
}

.cancel span {
  background-color:var(--bg-rojo-span);
  font-weight: 600;
}

.header-cards {
  display: flex;
  width: 100%px;
}

.header-card-statistic {
  display: flex;
}

.bx-bookmark {
  font-size: 25px;
  margin: 0;
  color: rgb(213, 33, 245);
}

.bx-like,
.bx-user,
.bxs-star,
.bx-dish {
  font-size: 30px;
  margin-left: 10px;
}
.bx-like {
  color: blue;
}
.bxs-star {
  color: rgb(255, 235, 9);
  filter: drop-shadow(1px 1px 2px #403f3f);
}
.bx-user {
  color: #661af3;
}
.bx-dish {
  color: rgb(211, 155, 99);
}
.bx1 {
  color: #efa20a;
}

.bx2 {
  color: rgb(31, 219, 31);
}
.bx3 {
  color: rgb(44, 9, 201);
}

/* ==================== Modo responsivo (incompleto) ==================== */

@media (max-width: 1360px) {
  .sidebar {
    width: 200px;
  }
  .sidebar-list-item {
    font-size: 15px;
  }
  .cards-stats {
    width: 85%;
    margin: 0 auto;
    gap: 10px;
  }
  .statistics-cards {
    width: 180px;
    height: 120px;
  }
  .container-2 {
    width: 300px;
  }
  .circle-container {
    width: 220px;
  }
  .container-last-order {
    width: 95%;
    margin: 20px auto;
  }
  .orden-content {
    font-size: 12px;
  }
}

@media (max-width: 950px) {
  .sidebar {
    width: 150px;
  }
  .sidebar-list-item {
    font-size: 15px;
  }
  .container-cards {
    margin-left: 150px;
  }
  .statistics-container-inside {
    margin-left: 150px;
  }
  .cards-stats {
    width: 100%;
    margin: 0 auto;
    gap: 20px;
  }
  .statistics-cards {
    width: 160px;
    height: 110px;
    font-size: 12px;
  }
  .statistics-cards p {
    height: 25px;
    font-size: 13px;
  }
  .statistics-cards span {
    font-size: 30px;
  }
  .container-2 {
    width: 200px;
  }
  .circle-container {
    width: 200px;
  }
  .container-last-order {
    width: 95%;
    margin: 20px auto;
  }
  .last-order {
    width: 80%;
    padding: 15px;
    gap: 5px;
  }
  .orden-content {
    font-size: 11px;
    gap: 5px;
  }
  .orden-content span {
    width: 70px;
  }
  .bx-bookmark {
    font-size: 16px;
    margin-right: 5px;
  }
}
